@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="logo">
    <img src="~/css/HealthyHandsLogoServer.png" />
    <h1>Forgot your password?</h1>
    <h2>Enter your email.</h2>
</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button id="email" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    body {
        background: rgb(72,233,215);
        background: radial-gradient(circle, rgba(72,233,215,1) 0%, rgba(6,124,131,1) 100%);
    }

    .row {
        padding-left: 20%;
        padding-bottom: 20%;
    }

    .col-md-4 {
        width: 500px;
    }

    .logo {
        padding-left: 25%;
    }

    

    #email {
        background-color: #fc7b06;
    }

</style>