@page "/Admin"
<PageTitle>Admin Features</PageTitle>
<h3>AdminFeatures</h3>

@if (UsersList == null)
{
    <h3>Loading....</h3>
}
else
{
    <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Admin</th>
                    <th>Locked Out</th>
                    <th>Lockout User</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var user in UsersList)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.IsAdmin</td>
                    <td>@user.LockoutEnabled</td>
                    <td><button @onclick="() => LockoutUser(user.Id)">Lockout</button></td>
                </tr>
            }
            </tbody>
        </table>
} 