@page "/defaultusermeals"
<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700&display=swap" rel="stylesheet" >
<link rel="stylesheet" href="/css/styles.css">
@*<style>

    /*<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700&display=swap" rel="stylesheet" >*/
  
  /* Style page content */
  body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 2rem;
  }
  
  p {
    margin: 1rem 0;
  }
  
  ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
</style>*@

<h1>Track Your Meals and Stay Healthy!</h1>

<p>Welcome to the User Meals feature, where you can easily log your meals and track your nutritional intake.</p>

<p>Simply enter the name, date, and nutritional information for each meal you eat, including calories, protein, carbs, fats, and sugar. The grid below will display your meal data, and the total calories will be calculated and displayed at the bottom. You can also compare your total calorie intake to your daily calorie goal, which is set in the Calories feature.</p>

<h2>How to use the User Meals feature:</h2>

<ul>
    <li>Log in to your account</li>
    <li>Navigate to the User Meals page</li>
    <li>Click "Add Meal" to add a new meal</li>
    <li>Enter the meal name, date, and nutritional information</li>
    <li>Click the check Icon to save the meal</li>
    <li>Repeat for each meal you eat throughout the day</li>
    <li>Check the total calories at the bottom of the grid to track your intake</li>
    <li>Compare your total calorie intake to your daily calorie goal set in the Calories feature</li>
</ul>
<p>To get started with the User Weights feature, simply log in to your account and navigate to the User Weights page.</p>