@page "/defaultuserweights"

<style>
  /* Add custom fonts */
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700&display=swap" rel="stylesheet" >
  
  /* Style page content */
  body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 2rem;
  }
  
  p {
    margin: 1rem 0;
  }
  
  ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
</style>

<h1>Welcome to Healthy Hands!</h1>

<p>To access our User Weights feature, please log in to your account.</p>

<p>The User Weights feature is a logging weight feature that allows you to input your weight and the date on a grid. You can also view your weight change over time reflected on a graph in a fun and engaging way.</p>

<p>Once you log in, you can navigate to the User Weights page to start tracking your progress!</p>

<h2>What is the User Weights feature?</h2>

<p>The User Weights feature allows you to:</p>
<ul>
  <li>Log your weight and date on a grid</li>
  <li>View your weight change over time on a graph</li>
  <li>Customize the graph to show your weight over previous time periods </li>
  
</ul>

<p>To get started with the User Weights feature, simply log in to your account and navigate to the User Weights page.</p>