@page "/defaultuserweights"

<style>
  /* Add custom fonts */
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700&display=swap" rel="stylesheet" >
  
  /* Style page content */
  body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 2rem;
  }
  
  p {
    margin: 1rem 0;
  }
  
  ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
</style>

<h1>Track Your Weight and Stay Healthy!</h1>

<p>Welcome to the User Weight feature, where you can easily log your weight and track your progression .</p>

<p>The User Weights feature lets you track your weight by entering your weight and date on a grid. You can also view your weight history on a graph.</p>

<p>To get started with the User Weights feature, simply log in to your account and navigate to the User Weights page.</p>

<h2>How to use the User Weight feature:</h2>

<ul>
    <li>Log in to your account</li>
    <li>Navigate to the Weight page</li>
    <li>Click "Add Weight" to input your weight</li>
    <li>Enter your weight on the given date in the grid</li>
    <li>Click Check to save your weight</li>
    <li> Then your weight will be displayed on the graph</li>
    <li> To edit your weight, click on the Pen icon and enter your new weight</li>
    <li> Click Check to save your new weight</li>
</ul>

