.rz-message {
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    animation: pulse 1.5s;
    width: 100%;
    margin-top: 5px;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
