.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
}

main {
    flex: 1;
}

.sidebar {
    background: rgb(72,233,215);
    background: linear-gradient(0deg, rgba(72,233,215,1) 16%, rgba(6,124,131,1) 89%);
}

.top-row {
    background: rgb(6,124,131);
    background: linear-gradient(90deg, rgba(6,124,131,1) 0%, rgba(72,233,215,1) 100%);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
       
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
         text-decoration: underline;
         color: #fc7b06
     }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
    body {
        background-color: black;
        color: lightblue;
    }

}

rz-message {
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    animation: pulse 1.5s;
    width: 100%;
    margin-top: 5px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 2rem;
    color: blue;
}

p {
    margin: 1rem 0;
}

ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
     
}