<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="css/HealthyHandsLogo.png" alt="Healthy Hands Logo" width="70" height="50">
        <a class="navbar-brand" href="">Healthy Hands</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link selected" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link selected" href="usercalories">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Calories
            </NavLink>
            <NavLink class="nav-link selected" href="usermeals">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Meals
            </NavLink>
            <NavLink class="nav-link selected" href="userworkouts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Workouts
            </NavLink>
            <NavLink class="nav-link selected" href="userweights">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Weights
            </NavLink>
            <AuthorizeView Roles="User">
                <Authorized>
                    <NavLink class="nav-link selected" href="userinfo">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> User Info
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        <AuthorizeView Roles="Admin">
                <Authorized>
                    <NavLink class="nav-link selected" href="userinfo">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> User Info
                    </NavLink>
                    <NavLink class="nav-link selected" href="adminfeature">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
